* {
  box-sizing: border-box; 
}

.page-wrap {
  width: 800px;
  margin: 20px auto;
}

.main-story {
  position: relative;
  margin: 0 0 25px 0;
}

img {
  display: block; 
}

a {
  color: lightblue;
}

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white;
}

h1 {
   font-size: 4em;
}
h1, h2 {
  margin: 0 0 10px 0;
}

h2{ font-size: 22px}

.story-intro h1 {
  font-size: 2.5em; 
}
.story-intro p {
  margin: 0;
}

.sub-stories {
  overflow: hidden;
  margin: 0 0 25px 0;
}

.sub-story {
  float: left;
  width: 250px;
  margin-right: 25px;
  position: relative;
  font-size: 80%;
}

.last {
  margin-right: 0;
}



/*responsive*/

@media (max-width: 800px){

  h1, .story-intro h1{ font-size: 4.5vw; }
  h2{ font-size: 3.5vw }

  .page-wrap{ width: 100%; padding:0 25px}

  .main-story .story-intro{ position: static; background: black }
  .main-story img{width: 100% }
  
  .sub-stories .sub-story{width: 48%; margin: 0; margin-bottom: 25px}
  .sub-stories .sub-story:nth-child(2){ float: right; }

  .sub-stories .sub-story img{ width: 100% }

}

@media (max-width: 500px){

   h1, .story-intro h1{ font-size:7vw; }
   h2{ font-size: 5vw }

   .page-wrap{ width: 100%; padding:0 15px}

  .sub-stories{ margin-bottom: 0 }
  .sub-stories .sub-story{ float: none; margin: 0; margin-bottom: 25px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }
  .sub-stories .sub-story.last{ margin-bottom: 0 }
  .sub-stories .sub-story img { -webkit-box-flex: 1; -ms-flex: auto; flex: auto; height: 120px; width: auto;}
  .sub-stories .sub-story .story-intro{ position: static;-webkit-box-flex: 1;-ms-flex: auto;flex: auto; background: black;  }
  .main-story, .sub-stories .sub-story{ margin-bottom: 15px }  
 
}


@media (max-width: 320px){ 
 .sub-stories .sub-story img { height: 100px;} 
}