/* Global resets */
* {box-sizing: border-box; margin: 0; padding: 0;}
.container {
  margin: 2em auto;
  max-width: 630px;
  text-align: center;
}

/* COLORS: 
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS goes here */



.wrap{ width: 260px; margin: 20px auto 0; color: #777; font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif; color: #424242; line-height: 1.4; }
.wrap .head{ border-radius: 3px; background: #424242; color: #eaeaea; padding:10px 20px; margin-bottom: 10px; position: relative;}
.wrap .head span{ color: white; font-weight: bold }
.wrap .head:after{ content: "";width: 0;height: 0;border-style: solid;border-width: 6px 5px 0 5px;border-color: #424242 transparent transparent transparent; position: absolute; top: 100%; }


.wrap .bod{ border: 1px solid #ddd; margin-bottom: 10px  }
.wrap .progressyo{ background: #f3f3f3; height: 10px; border-bottom: 1px solid #ddd; position: relative;}
.wrap .progressyo:after{ content: ""; background:#EF5F3C; width: 75%; position: absolute; left: 0; top: 0; height: 100%}
.wrap .bod .content{ padding: 20px;text-align:left;  font-size: 13px}
.daysleft{ color: #EF5F3C; font-weight: bold; }

.action{ overflow: hidden; margin-top: 15px;}
.action .inputwrap{ position: relative; }
.action .inputwrap:after{ content: "$"; position: absolute; left: 10px; top: 10px; font-size: 17px; font-weight: bold; color:#777}
.action input, .action button{ border-radius: 3px; padding: 10px 5px; font-weight: bold;width: 47%; line-height: 20px}
.action input{ float: left; border: 1px solid #ddd; font-size: 18px; color: #424242; padding-left: 21px;}
.action button{ float: right; background: #1CBC2C; border: 1px solid #00b317; border-bottom-width: 2px; padding-bottom: 9px; color: white; font-size: 16px; font-weight: normal;}
.action i{ clear: both; color:#20A1D4; display: block; padding-top: 5px  }

.wrap .foot{ overflow: hidden; }
.wrap .foot button{ float: left; border:1px solid #ddd; background: #f3f3f3; color: #777; font-weight: bold; font-size: 13px; border-radius: 3px; padding: 5px 10px; width: 47%; border-bottom-width: 2px }
.wrap .foot button:last-child{ float: right; }

