body{ background: #f1f1f1; color: #6b6b6b }


.animate{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}


.container { margin-top: 40px; }

.whitebox{ background: white; margin-bottom: 10px; border-bottom: 2px solid #e8e8e8}
.whitebox .heading{ margin: 0; padding: 10px 20px; border-bottom: 1px solid #f1f1f1; }

.table-striped>tbody>tr:nth-of-type(odd){ background: #f6f6f6 }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ padding: 10px 20px; border-top-color: #f1f1f1 }

.table>thead>tr>th{ border-bottom: none; }


/*myselect*/
.tools{ display: flex; border-bottom: 1px solid #f1f1f1 }
.myselect{ flex:3; /*border-right: 1px solid #f1f1f1*/}
.tools .myselect:last-child{ border: none; }

.myselectwrap{ position: relative; }
.myselectwrap label{ display: block; }
.myselectwrap .trigger{ position: relative; z-index: 1; width: 100%; border:none; background:#eee; padding: 10px}
.myselectwrap .trigger:after{ content: "";width: 0;height: 0;border-style: solid;border-width: 6px 5px 0 5px;border-color: #aaa transparent transparent transparent; position: absolute; top: 45%; right: 10px }

.myselect{ padding: 10px }
.myselect ul{ margin: 0; padding: 0; list-style: none; position: absolute; left: 20px; top: 20px; background: #fff; box-shadow:0 5px 10px rgba(0,0,0,0.1);width: 60%;-webkit-transition: all 300ms ease-in-out;-moz-transition: all 300ms ease-in-out;	-o-transition: all 300ms ease-in-out;	transition: all 300ms ease-in-out; opacity: 0; max-height:0; z-index: 0}
.myselect ul.active{ opacity: 1; max-height: 500px; z-index: 3 }


.myselect ul li{ padding: 10px; border-bottom: 1px solid #f1f1f1; -webkit-transition: all 300ms ease-in-out;-moz-transition: all 300ms ease-in-out;	-o-transition: all 300ms ease-in-out;	transition: all 300ms ease-in-out;}
.myselect ul li:hover{ background: #148bd9; color: white;}


.posts{position: relative; z-index: 2}
.posts .post{float: left; margin-bottom: 20px}

.posts .post .head{ padding: 5px 10px; text-transform: capitalize; border-bottom: 1px solid #f1f1f1; font-size: 18px; color: #333 }
.posts .post .date{ padding: 5px 10px;  }
.posts .post .bod{ padding: 10px; border-bottom: 1px solid #f1f1f1 }
.posts .post .foot{ overflow: hidden; }
.posts .post .foot > div{ float: left; width: 50%; padding: 5px 10px}
.posts .post .rating{ text-align: right; }
.posts .post img{ width: 100%; height: au }


@media (min-width: 1200px){
	.posts .post{ margin-right: 2%; width: 23.5%;}
	.posts .post:nth-child(4n+4){ margin-right: 0 }
	.posts .post:nth-child(4n+5){ clear: both; }

}

@media (max-width: 1200px) and (min-width: 767px){

	.posts .post{ margin-right: 2%; width:32%}
	.posts .post:nth-child(3n+3){ margin-right: 0 }
	.posts .post:nth-child(3n+4){ clear: both; }

}


@media (max-width: 767px) and (min-width: 540px){

	.posts .post{ margin-right: 2%; width:49%}
	.posts .post:nth-child(2n+2){ margin-right: 0 }
	.posts .post:nth-child(2n+3){ clear: both; }

}


@media (max-width: 540px){

	.posts .post{ width: 100%; float: none; margin-right: 0}
	.tools{ display: block; }

}




@media (max-width: 800px){

	.myselect ul{ width: 80% }

}