<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Task 3</title>
    <!-- css -->
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- default -->
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="css/task-3.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GLI - Front End Test</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Task 1</a></li>
            <li><a href="task2.html">Task 2</a></li>
            <li><a href="task3.html">Task 3</a></li>
            <li class="active"><a href="task3b.html">Task 3b</a></li>
          </ul>
          </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container" ng-controller="postsCtrl">
          
          <div class="row">
            <div class="col-md-12">
              <div class="whitebox">
                <h3 class="heading">Posts</h3>
                <div class="tools">
                  <div class="myselect">
                    <div class="myselectwrap">
                      <label>Select posts by user:</label>
                      <div class="trigger">{{byUserLabel}}</div>
                      <ul>
                        <li ng-click="updateByUser('allposts')">All Users</li>
                        <li ng-repeat="user in users" ng-click="updateByUser(user)">User {{user}}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="myselect">
                    <div class="myselectwrap">
                      <label>Order by:</label>
                      <div class="trigger">{{orderByLabel}}</div>
                      <ul>
                        <li ng-click="updateOrderBy('id','Date')">Date</li>
                        <li ng-click="updateOrderBy('rating', 'Rating')">Rating</li>
                        <li ng-click="updateOrderBy('title', 'Title')">Title</li>
                      </ul>
                    </div>
                  </div>
                  <div class="myselect">
                    <div class="myselectwrap">
                      <label>Order:</label>
                      <div class="trigger">{{orderLabel}}</div>
                      <ul>
                        <li ng-click="updateOrder('-','Desc')">Desc</li>
                        <li ng-click="updateOrder('+', 'Asc')">Asc</li>
                      </ul>
                    </div>
                  </div>
                  
                </div>
              </div>


              <div class="posts">
                <div class="post whitebox" ng-repeat="post in posts | orderBy:order+orderBy | filter: filterByUser()">
                    <div class="head">{{post.title}}</div>
                    <div class="date"><strong>Date:</strong> {{post.id}}</div>
                    <img src="img/placeimg_300_300_arch.jpg" />
                    <div class="bod">{{post.body}}</div>
                    <div class="foot">
                      <div class="user"><strong>User:</strong> {{post.userId}}</div>
                      <div class="rating"><strong>Rating:</strong> {{post.rating}}/5</div>
                    </div>
                </div>
              </div>




            </div>
          </div>
        </div>
        <!-- scripts -->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
        <!-- angular -->
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
      </body>
    </html>